{% extends 'general/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container section">
    <br>
    <h1>Cuestionario</h1>
    <form method="POST" class="form-group">
        {% for pregunta in preguntas %} 
            <p>{{pregunta.id}}. {{pregunta.texto}}</p>

            {% for respuesta in pregunta.respuesta_set.all  %} 
                <input type="radio" id={{respuesta.id}} name="{{pregunta.id}}" value={{respuesta.id}}>
                <label for={{respuesta.id}}>{{respuesta.texto}}</label><br>
            {% endfor %}
            <br>
        {% endfor %}
        
        <button class="btn btn-success" type="submit" name="action">
            Aceptar
        </button>
    </form>
</div>
{% endblock %}